p {
    /*
    Red is  my favorite color!
    Red red is the best red.
    */
    color: rebeccapurple;
    text-decoration: line-through;
}

li {
    color: plum;
}

a {
    color: brown
}

#mostFavorite {
    text-decoration: underline;
    font-weight: bold;
    color: green;
}

.favorite {
    color: orangered;
    font-weight: bolder;
}

h1 {
    color: brown;
}